<div class="container-fluid" id="adminMainDiv">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" id="videos">
      <div class="preview">
        <iframe id="videoPreview" src={{video.url}} ng-show='preview'></iframe>
      </div>
      <div id="addVideo">
        <form id="video" ng-model="videoForm">
          <label>URL </label><input type="url" placeholder="paste video link..." id="urlInput" ng-model="video.url"/>
          <label>Title </label><input type="text" placeholder="enter display title..."  id="titleInput" spellcheck ng-model="video.title"/>
          <label>Videographer </label><input type="text" placeholder="enter display name..."  class="ographerInput" spellcheck ng-model="video.videographer"/>
          <label>Date Filmed </label><input type="date" class="dateInput" ng-model="video.date"/>
          <label>Description </label><textarea form="video" placeholder="enter brief snippet..."  class="descInput" spellcheck ng-model="video.snippet"></textarea>
          <input type="submit" value="Save" class="btn btn-default" ng-click="saveVideo(video)"/>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" id="photos">
      <div class="preview">
        <img id="photoPreview" src={{photo.image}} ng-show='preview'/>
      </div>
      <div id="addPhoto">
        <form id="photo">
          <label>Image File </label><input photo-upload type="file" id="imgInput" ng-model="photo.image" multiple/>
          <label>Photographer </label><input type="text" placeholder="enter display name..."  class="ographerInput" ng-model="photo.photographer" spellcheck/>
          <label>Date Taken </label><input type="date" class="dateInput" ng-model="photo.date"/>
          <label>Description </label><textarea form="photo" placeholder="enter brief snippet..."  class="descInput" ng-model="photo.snippet" spellcheck></textarea>
          <input type="submit" value="Save" class="btn btn-default" ng-click="savePhoto(photo)"/>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" id="gigs">
      <div class="gigLocationPreview">

      </div>
      <div id="addGig">
        <form id="gig">
          <label>Location </label><input type="text" placeholder="enter location..."  id="locationInput"/>
          <label>Date </label><input type="date" />
          <label>Time </label><input type="time" id="timeInput"/>
          <label>Notes </label><textarea form="gig" placeholder="enter brief snippet..." maxlength="250"  class="descInput" spellcheck></textarea>
          <input type="submit" value="Save" class="btn btn-default" ng-click="saveGig(gig)"/>
          <br />
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" id="gigs">
      <div class="pdfPreview">

      </div>
      <div id="addPdf">
        <form id="pdf">
          <label>File </label><input pdf-upload type="file" id="pdfInput" ng-model="pdf.file" multiple/>
          <label>Title </label><input type="text" placeholder="enter title..."  id="titleInput"/>
          <label>Composer </label><input type="text" />
          <label>Arranger </label><input type="time" id="timeInput"/>
          <input type="submit" value="Save" class="btn btn-default" ng-click="saveGig(gig)"/>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
